// Defaults
html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	background-color: $bg-blue;
	text-align: center;
}

img {
	max-width: 100%;
}

// Types
button {
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	border: none;
	padding: 0.3rem;
	border-radius: 0.5rem;
	transition: 0.1s ease-in-out;
}

button:hover {
	cursor: pointer;
}

h1 {
	color: $h-blue;
	font-weight: 900;
	font-size: 180%;
}

h2 {
	color: $h-blue;
	font-weight: 700;
	font-size: 110%;
	margin-bottom: 0;
}

p {
	color: $p-blue;
	line-height: 1.5;
}

// Classes
.bg-image {
	background: url(/images/pattern-background-mobile.svg) no-repeat center/cover;
	height: 25rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.card {
	background-color: white;
	margin: 1rem;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem hsla(224, 66%, 78%, 0.35);
	padding-bottom: 2rem;
	transform: translate(0, 25%);
}

.card .top-image {
	width: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.card p {
	text-align: center;
	width: 100%;
}

.order-box {
	background-color: $box-blue;
	border-radius: 1rem;
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.plan-info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 1rem;
}

.plan-info img {
	margin-right: 1.3rem;
}

.payment-info p {
	margin-top: 0.5rem;
}

.button-change {
	background-color: transparent;
	color: $purple;
	text-decoration: underline;
	padding-right: 1rem;
}

.button-change:hover {
	opacity: 0.75;
	text-decoration: none;
}

.continue-process {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button-pay {
	background-color: $purple;
	box-shadow: 1rem 1rem 1rem hsla(224, 66%, 78%, 0.35);
	width: 85%;
	color: white;
	padding: 0.75rem;
	margin-bottom: 1rem;
}

.button-pay:hover {
	opacity: 0.75;
}

.button-cancel {
	background-color: transparent;
	color: $p-blue;
	padding: 0.75rem;
}

.button-cancel:hover {
	color: $h-blue
}

// Id's

// Querrys
@media (min-width: 768px) { //tablets
	.bg-image {
		background: url(/images/pattern-background-desktop.svg) no-repeat center/cover;
		height: 50vh;
	}
}

@media (min-width: 500px) {
    .card {
        width: 450px;
        margin: auto;
    }
}